.container{
    margin-bottom: 15px;
}

.year {
    font-weight: bold;
    text-align: right;
    padding-right: 50px;
}

.main_information {
    font-weight: bold;
    color: #ff3838;
    font-size: 20px;
    padding: 0;
    margin: 0;
}