.link:hover,
.link:visited,
.link:link,
.link:active {
    text-decoration: none;
}

.container {
    color: black;
    text-decoration: none;
    outline: none;
    margin-top: 25px;
}

.heading{
    font-size: 27px;
}