@font-face {
    font-family: regularFont;
    src: url("/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: monoFont;
    src: url("/fonts/UbuntuMono-R.ttf");
}

#blogEntry h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 100px 0;
    line-height: 1.5;
}

#blogEntry h2 {
    font-weight: 600;
    font-size: 36px;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
}

#blogEntry li {
    font-size: 1.25rem;
    line-height: 1.7777778;
    margin-left: 1.5em;
}


#blogEntry pre {
    color: #e5e7eb;
    line-height: 1.75;
    overflow-x: auto;
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 0.375rem;
    background-color: #1f2937;
    font-family: monoFont !important;
}

#blogEntry p code {
    color: #111827;
    padding: 0.25rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    font-weight: 400 !important;
}

code[class*="language-"],
pre[class*="language-"] {
    background: #1f2937 !important;
}

#blogEntry p {
    font-family: regularFont;
    margin-top: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #111;
    overflow-x: auto;
}

#blogEntry pre+p {
    margin-top: 1em;
}

#blogEntry #source {
    font-style: italic;
}

#blogEntry #source a {
    width: fit-content;
    margin-left: 3px;
    padding: 0;
}