@font-face {
    font-family: regularFont;
    src: url("/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: monoFont;
    src: url("/fonts/UbuntuMono-R.ttf");
}

#blogEntry h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 100px 0;
    line-height: 1.5;
}

#blogEntry h2 {
    font-weight: 600;
    font-size: 36px;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
}

#blogEntry li {
    font-size: 1.25rem;
    line-height: 1.7777778;
    margin-left: 1.5em;
}


#blogEntry pre {
    font-family: monoFont !important;
    background: #f0efed;
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    /* font-size: 0.8888889em; */
    line-height: 1.75;
    margin-top: 2em;
    border-radius: 0.375rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 1rem;
}

#blogEntry p code {
    border-radius: 0.25rem;
    font-weight: 400 !important;
    padding: 0.25rem;
    font-size: 80%;
    background: #f0efed;
    color: #111827;
    font-weight: 600;
    font-size: 1.25rem;
}

#blogEntry p {
    font-family: regularFont;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #111;
    overflow-x: auto;
}
